.blue{
    background-color: aqua;
    height: 200px;
    display: flex;
    padding: 20px;
    justify-content: space-evenly;
}
.pink{
    background-color: pink;
    height: 200px;
    display: flex;
    padding: 20px;
    justify-content: space-evenly;
}
.white{
    background-color: papayawhip;
    height: 200px;
    display: flex;
    padding: 20px;
    justify-content: space-evenly;
}
img{
    height: 200px;
    width: 200px;
}